---
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="" />

	<!-- Stylesheets
	============================================= -->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Istok+Web:400,700" rel="stylesheet" type="text/css" />
	<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

	<!-- Hosting Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/colors.css" type="text/css" /> <!-- Theme Color -->
	<link rel="stylesheet" href="/demos/hosting/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="/demos/hosting/hosting.css" type="text/css" />
	<!-- / -->

	{% include seo.html 
		description='We help you move your business online. We want you to be in the forefront of the digital Cebu. Leverage the power of the internet and reach new markets for your business'
		keywords='Domain Registration,cebu website,make a website,how to make a website,website builder,website developer,cebu website developer,cebu web developer,how much for a website,cebu g suite,cebu email setup,custom website cebu'
	%}

	<!-- Document Title
	============================================= -->
	<title>404 | Search For The Page | Link Malloc, Inc.</title>
	<!-- 6A97FF88-3D6E-4F08-9EA4-D4BDB5A439CA -->

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header-menu.html header-class='transparent-header' %}

		<section id="slider" class="slider-element slider-parallax full-screen dark error404-wrap">
      <div class="slider-parallax-inner">
      <div class="container-fluid vertical-middle center clearfix">
      <div class="error404">404</div>
      <div class="heading-block nobottomborder">
      <h4>Ooopps.! The Page you were looking for, couldn't be found.</h4>
      <span>Try the search below to find matching pages:</span>
      </div>
      <form id="search-form" action="#" method="get" role="form" class="divcenter nobottommargin">
      <div class="input-group input-group-lg">
      <input id="search-value" type="text" class="form-control" placeholder="Search for Pages...">
      <div class="input-group-append">
      <button id="search" class="btn btn-danger" type="button">Search</button>
      </div>
      </div>
      </form>
      </div>
      <div class="video-wrap">
      <video poster="//themes.semicolonweb.com/html/canvas/images/videos/deskwork.jpg" preload="auto" loop autoplay muted>
      <source src='//themes.semicolonweb.com/html/canvas/images/videos/deskwork.mp4' type='video/mp4' />
      <source src='//themes.semicolonweb.com/html/canvas/images/videos/deskwork.webm' type='video/webm' />
      </video>
      <div class="video-overlay" style="background-color: rgba(0,0,0,0.3);"></div>
      </div>
      </div>
      </section>

		{% include footer.html %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	{% include sw.html %}

	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

	<script>
		jQuery('#search-form').on('submit', function(e){
			e.preventDefault(); 
			var domainLink = 'https://www.google.com/search?as_sitesearch=www.linkmalloc.com&search=&q=';
			var value = $('#search-value').val();

      var url = domainLink + value;
      var validURL = encodeURIComponent(url);
      console.log(validURL)

			window.open(validURL,'_blank');					
		});
	</script>
	{% include analytics.html %}

</body>
</html>