---
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="" />

	<!-- Stylesheets
	============================================= -->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Istok+Web:400,700" rel="stylesheet" type="text/css" />
	<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

	<!-- Hosting Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/colors.css" type="text/css" /> <!-- Theme Color -->
	<link rel="stylesheet" href="/demos/hosting/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="/demos/hosting/hosting.css" type="text/css" />
	<!-- / -->

	{% include seo.html 
		description='We help you move your business online. We want you to be in the forefront of the digital Cebu. Leverage the power of the internet and reach new markets for your business'
		keywords='Domain Registration,cebu website,make a website,how to make a website,website builder,website developer,cebu website developer,cebu web developer,how much for a website,cebu g suite,cebu email setup,custom website cebu'
	%}

	<!-- Document Title
	============================================= -->
	<title>Link Malloc, Inc.</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header-menu.html header-class='transparent-header' %}

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-angle">

			<!-- Slider Background Map
			============================================= -->
			<img class="img-map parallax" src="/demos/hosting/images/svg/map-light.svg" alt="" data-0="opacity: 0.05;margin-top:0px" data-800="opacity: 0.5;margin-top:150px">

			<!-- Slider Background Cloud
			============================================= -->
			<div class="cloud-wrap">
				<div class="c1"><div class="cloud"></div></div>
				<div class="c2"><div class="cloud"></div></div>
				<div class="c3"><div class="cloud"></div></div>
				<div class="c4"><div class="cloud"></div></div>
				<div class="c5"><div class="cloud"></div></div>
			</div>

			<!-- Slider Titiles
			============================================= -->
			<div class="vertical-middle ignore-header dark">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-md-5">
							<div class="slider-title">
								<h2 class="text-white text-rotater mb-3" data-separator="," data-rotate="fadeIn" data-speed="3500">We build your<br> <span class="t-rotate text-white">Awesome,Powerful,Engaging,Professional,Great</span> <span class="t-rotate text-white">Website,CRM,Business Applications,Mobile App</span></h2>
								<p>We help you move your business online. Be visible online and open doors to new markets. Online is good for business.</p>
							</div>
							<a href="{{ site.messenger_link }}" class="button bg-white text-dark button-light button-rounded button-large color ml-0">Contact Us <i class="icon-line-arrow-right t600"></i></a>
						</div>
						<div class="col-md-5 d-none d-md-block">
							<img src="/demos/hosting/images/3.png" alt="">
						</div>
					</div>
				</div>
			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div class="container clearfix">

					<!-- Slider negetive Box
					============================================= -->
					<div class="row justify-content-center slider-box-wrap clearfix">
						<div class="col-10">
							<div class="slider-bottom-box">
								<div class="row align-items-center clearfix">
									<div class="col-lg-4 mb-3 mb-lg-0">
										<h2 class="mb-3 h1 text-rotater t300" data-separator="," data-rotate="fadeIn" data-speed="1500">Your <span class="t-rotate">Business,Company</span> Online</h2>
										<p class="t400 text-muted mb-0">We help SMEs bring their business to the internet. What are the benefits of having your business online?</p>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li><img src="/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Gain Credibility and Influence.</li>
											<li class="pt-3"><img src="/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Customer Trusts.</li>
											<li class="pt-3"><img src="/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Target A Wider Audience.</li>
										</ul>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li class="pt-3 pt-lg-0"><img src="/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">24/7 Marketing.</li>
											<li class="pt-3"><img src="/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Access Anywhere.</li>
											<li class="pt-3"><img src="/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Get More Customers.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Features Section
					============================================= -->
					<div class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
						<h2>We provide best services for you.</h2>
						<p>Ready to bring your business online? We got your back. We'll help you all the way with our top of the line services</p>
					</div>
					<div class="clear"></div>
					<div class="row mt-4 clearfix">
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="/demos/hosting/images/svg/web.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Web Development & Hosting</h3>
								<p class="t300">If you’re a budding entrepreneur looking to set up shop online, it’s imperative your brand is presented professionally. If you don’t have much experience in web development, you’re going to find that hiring graphic designers can get expensive very fast.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="/demos/hosting/images/svg/cloud.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Business Application Development</h3>
								<p class="t300">Today's customers demand applications that deliver hyper-connectivity, extreme personalization, and real-time customizations. These expectations are transforming the application development landscape. We understand your business needs and we deliver next generation applications to match your requirement.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="/demos/hosting/images/svg/dedicated.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">IT & Software Consulting</h3>
								<p class="t300">We are always conscious of the challenge that faces companies who need to consider technology changes and ehancements to streamline their operations. We can help you solve your business needs.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="/demos/hosting/images/svg/shared.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Social Media Management</h3>
								<p class="t300">The best social media management tools are the ones that meet your needs and help you achieve your goals. Let your brand be heard, with engaging social media posts.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="/demos/hosting/images/svg/domain.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Domain Registration</h3>
								<p class="t300">Your domain is your address in the busy streets of the Internet. This is also your gateway and portal to the entire world. If you host with us, you get this for FREE.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="/demos/hosting/images/svg/activation.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">Fast Activation</h3>
								<p class="t300">If you host with us, your business will be online in a few days. Opening your doors to local and global market will be fast.</p>
							</div>
						</div>
					</div>

				</div>

				<!-- Domain Section
				============================================= -->
				<div class="section section-domain mt-4 mb-3" style="background: #F5F5F5 url('demos/hosting/images/pattern-dark.png') repeat center center;">
					<div class="container">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-5">
								<div class="heading-block mb-0 nobottomborder clearfix">
									<h3 class="ls0 nott">Your Business Address?</h3>
									<p class="mb-0">Domain is what your business address will be. This is your address in the busy streets of the internet.</p>
								</div>
							</div>
							<div id="domain-search" class="col-md-6 mt-4 mt-lg-0">
								<div class="input-group input-group-lg">
									<input type="text" class="field form-control" placeholder="Your New Domain Name" aria-label="Enter Domain Name">
									<div class="input-group-append">
										<select class="custom-select" id="inputGroupSelect01">
											<option value="com" selected>.com</option>
											<option value="org">.org</option>
											<option value="net">.net</option>
											<option value="info">.shop</option>
											<option value="ph">.ph</option>
										</select>
									</div>
									<div class="input-group-append">
										<button class="btn bgcolor text-white dark">Search</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Loaction Section
				============================================= -->
				<div class="section nomargin nobg">
					<div class="container clearfix">
						<div class="heading-block center mt-0 divcenter nobottomborder clearfix" style="max-width: 700px">
							<h2>Bringing World-class service to Cebu Entreprenuers</h2>
							<p>We host your business website across multiple countries, making it fast and reliable. Your doors are open to the world.</p>
						</div>
						<div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="heading-block mt-md-3 mt-0">
									<div class="before-heading color">Our Network</div>
									<h3 class=" nott ls0">Your a click away from your biggest client across the World.</h3>
								</div>
								<div class="row">
									<p>If your business has an online presence, you open doors to clients both local and international. Instantly, you will be an international business. Broaden your market, today!</p>
								</div>
							</div>
							<div class="col-lg-7 col-md-6">
								<div id="hotspot-img" class="hotspot-img mt-2 responsive-hotspot-wrap">
							<img src="/demos/hosting/images/svg/map.png" class="img-responsive" alt="">

							<!-- Circle #1 -->
							<div class="hot-spot" x="1970" y="830">
								<div class="circle"></div>
								<div class="tooltip"><p>singapore</p></div>
							</div>
							<!-- Circle #2 -->
							<div class="hot-spot" x="330" y="522">
								<div class="circle"></div>
								<div class="tooltip"><p>San Fransisco</p></div>
							</div>
							<!-- Circle #1 -->
							<div class="hot-spot" x="2110" y="710">
								<div class="circle"></div>
								<div class="tooltip"><p>philippines</p></div>
							</div>
							<!-- Circle #3 -->
							<div class="hot-spot" x="2350" y="1110">
								<div class="circle"></div>
								<div class="tooltip"><p>Sydney</p></div>
							</div>
							<!-- Circle #4 -->
							<div class="hot-spot" x="1222" y="395">
								<div class="circle"></div>
								<div class="tooltip"><p>London</p></div>
							</div>
							<!-- Circle #5 -->
							<div class="hot-spot" x="1800" y="760">
								<div class="circle"></div>
								<div class="tooltip"><p>Bangalore</p></div>
							</div>
							<!-- Circle #6 -->
							<div class="hot-spot" x="2250" y="560">
								<div class="circle"></div>
								<div class="tooltip"><p>Tokyo</p></div>
							</div>
							<!-- Circle #7 -->
							<div class="hot-spot" x="1366" y="1134">
								<div class="circle"></div>
								<div class="tooltip"><p>Cape Town</p></div>
							</div>
							<!-- Circle #8 -->
							<div class="hot-spot" x="880" y="990">
								<div class="circle"></div>
								<div class="tooltip"><p>Brasilla</p></div>
							</div>
							<!-- Circle #8 -->
							<div class="hot-spot" x="710" y="395">
								<div class="circle"></div>
								<div class="tooltip"><p>Toronto</p></div>
							</div>
							<!-- Circle #1 -->
							<div class="hot-spot" x="2130" y="760">
								<div class="circle"></div>
								<div class="tooltip"><p>philippines</p></div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Addition Service Section
				============================================= -->
				<div class="container clearfix">
					<div class="row clearfix">
						<div class="col-md-12">
							<div class="before-heading">Other Additional Features</div>
							<h3>You get the Best Hosting Service</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
										<div class="fbox-media">
											<img src="/demos/hosting/images/svg/balancing.svg" style="width: 42px;" alt="">
										</div>
										<div class="fbox-desc">
											<h3 class="ls0">Domain Registration</h3>
											<p class="mt-2">Your business starts with an address. Be it a .com .shop or a .ph, this is where everything starts.</p>
										</div>
										<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">Your Business Address <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>

									<div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
										<div class="fbox-media">
											<img src="/demos/hosting/images/svg/location.svg" style="width: 42px;" alt="">
										</div>
										<div class="fbox-desc">
											<h3 class="ls0">Blazing Fast Hosting Servers</h3>
											<p class="mt-2">We'll take your website to the next level to get you ahead of the competition. You're website will be hosted on Google's infrastructures.</p>
										</div>
										<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">Run on Google Servers <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>
								</div>

								<div class="col-md-6">
									<div class="feature-box p-4 mt-4 mt-sm-0 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
										<div class="fbox-media">
											<img src="/demos/hosting/images/svg/ssl.svg" style="width: 42px;" alt="">
										</div>
										<div class="fbox-desc">
											<h3 class="ls0">SSL Certificate</h3>
											<p class="mt-2">We'll give you SSL Certificate so you're website will be fully secured from the get go. </p>
										</div>
										<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">SSL Certificate Included <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>

									<div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
										<div class="fbox-media">
											<img src="/demos/hosting/images/svg/team.svg" style="width: 42px;" alt="">
										</div>
										<div class="fbox-desc">
											<h3 class="ls0">5 Responsive Pages</h3>
											<p class="mt-2">Your business will work for Desktop, Laptop, Tablets and Smartphones. Any screen size, you'll business website will look perfect.</p>
										</div>
										<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">Look Good Everywhere<i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>

				<!-- Testimonials Section
				============================================= -->
				<div class="section">
					<div class="container">

						<div class="heading-block center mt-2 mb-3 divcenter nobottomborder clearfix" style="max-width: 700px">
							<div class="before-heading">See what Our Customers say</div>
							<h2> Happy Clients from Cebu</h2>
						</div>

						<!-- Owl Carousel
						============================================= -->
						<div id="oc-testimonials" class="owl-carousel center testimonials-carousel testimonial-full carousel-widget mt-5" data-margin="0" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="3" data-center="true" data-loop="true" data-autoplay="4000" data-speed="500">

							<!-- Item 1 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="/demos/hosting/images/users/1.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li></ul>
									<div class="testi-content">
										<p class="font-body font-normal">My website was up and running in a few days. Having a website enabled me to connect with more people, more leads and more clients. My brand was found online thanks to the team in Link Malloc.</p>
										<div class="testi-meta">
											Luchelle Ann Cabigon
											<span><a href="https://cebuhomepages.com/l/mandani/" target="_blank" style="text-decoration: none">Cebu Home Pages</a></span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 3 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="/demos/hosting/images/users/2.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
									<div class="testi-content">
										<p class="font-normal font-body">Was able to get my website up and running in just a few days. Now, we are getting clients from across the world. We are able to see how many visitors are seeing our website each month. It's great working with this team.</p>
										<div class="testi-meta">
											ERC Abay-Abay Customs Brokerage
											<span><a href="https://ercabayabay.com" target="_blank" style="text-decoration: none">Cebu Customs Brokerage</a></span>
										</div>
									</div>
								</div>
							</div>


							<!-- Item 2 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="/demos/hosting/images/users/3.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
									<div class="testi-content">
										<p class="font-body font-normal">Got a beautiful website for my Crafting businesses. Had my spotlight in the crafting industry of Cebu. Thanks for making my website and blog. Couldn't have done it without you.</p>
										<div class="testi-meta">
											Cream of the Craft
											<span><a href="http://www.creamofthecraft.co" target="_blank" style="text-decoration: none">Cream of the Craft</a></span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 4 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="/demos/hosting/images/users/4.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
									<div class="testi-content">
										<p class="font-normal font-body">My Team Page is now online. Thanks to this team. Metro Cebu North Force</p>
										<div class="testi-meta">
											Metro Cebu North Force
											<span><a href="https://metrocebunorthforce.com" target="_blank" style="text-decoration: none">Metro Cebu North Force</a></span>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Trusted Client Section
				============================================= -->
				<div class="section mt-3 mb-4 pt-0 nobg">
					<div class="container clearfix">
						<div class="divcenter" style="max-width: 1000px">
							<div class="heading-block center divcenter nobottomborder clearfix" style="max-width: 700px">
								<div class="before-heading">Already with Us</div>
								<h2>Cutting Edge Tools</h2>
								<p>We build your online business with the state-of-the-art tools. Giving you and your business leverage over the internet. </p>
							</div>
							<!-- Clients Images -->
							<div class="row clearfix">
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/firebase.png" alt="firebase" class="clients"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/amp.jpg" alt="amp" class="clients"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/bootstrap.png" alt="bootstrap" class="clients mt-5 mt-sm-0"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/fbpixel.png" alt="facebook pixel" class="clients mt-5 mt-sm-0"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/flamelink.png" alt="flamelink" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/gsuite.png" alt="G Suite" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/html5.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/jekyll.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/jquery.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/netlify.jpg" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/slider.png" alt="" class="clients mt-5"></a></div>
								<div class="col-sm-3 col-6 center"><a href="#"><img src="/images/tools/analytics.png" alt="" class="clients mt-5"></a></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Bottom Section
				============================================= -->
				<div class="section bgcolor dark m-0">
					<div class="container">
						<div class="row center justify-content-center">
							<div class="col-md-8">
								<h2 class="t700 text-white mb-3">Get Your Business Online Now. Contact Us for a Free Consultation.</h2>
							</div>
							<div class="col-md-8">
								<a href="{{ site.messenger_link }}" class="button center bg-white color button-light button-rounded button-large ml-0">Consult for free</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.js"></script>

	<script src="/js/jquery.hotspot.js"></script>
	<script src="/js/components/rangeslider.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

	<script>
		jQuery(document).ready( function() {
			var pricingCPU = 1,
				pricingRAM = 1,
				pricingStorage = 10,
				elementCPU = $(".range-slider-cpu"),
				elementRAM = $(".range-slider-ram"),
				elementStorage = $(".range-slider-storage");

			elementCPU.ionRangeSlider({
				grid: false,
				values: [1,2,4,6,8],
				postfix: ' Core',
				onStart: function(data){
					pricingCPU = data.from_value;
				}
			});

			elementCPU.on( 'change', function(){
				pricingCPU = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			elementRAM.ionRangeSlider({
				grid: false,
				step: 1,
				min: 1,
				from:1,
				max: 32,
				postfix: ' GB',
				onStart: function(data){
					pricingRAM = data.from;
					console.log(data);
				}
			});

			elementRAM.on( 'onStart change', function(){
				pricingRAM = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			elementStorage.ionRangeSlider({
				grid: false,
				step: 10,
				min: 10,
				max: 100,
				postfix: ' GB',
				onStart: function(data){
					pricingStorage = data.from;
				}
			});

			elementStorage.on( 'change', function(){
				pricingStorage = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			calculatePrice( pricingCPU, pricingRAM, pricingStorage );

			function calculatePrice( cpu, ram, storage ) {
				var pricingValue = ( Number(cpu) * 10 ) + ( Number(ram) * 8 ) + ( Number(storage) * 0.5 );
				jQuery('.cpu-value').html(pricingCPU);
				jQuery('.ram-value').html(pricingRAM);
				jQuery('.storage-value').html(pricingStorage);
				jQuery('.cpu-price').html('$'+pricingCPU * 10);
				jQuery('.ram-price').html('$'+pricingRAM * 8);
				jQuery('.storage-price').html('$'+pricingStorage * 0.5);
				jQuery('.pricing-price').html( '$'+pricingValue );
			}
		});

		jQuery(window).on( 'load', function(){
			$('#hotspot-img').hotSpot();
		});

		jQuery('#domain-search .btn').on('click', function(e){
			e.preventDefault(); 
			var domainLink = 'https://domains.google.com/m/registrar/search?hl=en&searchTerm=';
			var value = $('#domain-search .field').val();
			var tld = $('#domain-search .custom-select').val();

			var url = domainLink + value + '.' + tld;

			window.open(url,'_blank');					
		});
	</script>

</body>
</html>