{% if include.title %} 
  {% assign title = include.title %} 
{% else %} 
  {% assign title = "Link Malloc, Inc." %} 
{% endif %}
{% if include.description %} 
  {% assign description = include.description %} 
{% else %} 
  {% assign description = "We help you build your website. Reach more customers through the internet. We are bringing over 10 years of experience in web application development and CRM. " %} 
{% endif %}

{% if include.description %} 
  {% assign keywords = include.keywords %} 
{% else %} 
  {% assign keywords = "cebu, cebu website maker, cebu web developer, web developer in cebu, philippine web developer " %} 
{% endif %}


{% if include.image_url %} 
  {% assign image_url = include.image_url %} 
{% else %} 
  {% assign image_url = "http://linkmalloc.com/images/seo/ogp.jpg" %} 
{% endif %}
{% if include.image_url_secure %} 
  {% assign image_url_secure = include.image_url %} 
{% else %} 
  {% assign image_url_secure = "https://linkmalloc.com/images/seo/ogp.jpg" %} 
{% endif %}



<title>{{ title }}</title>
<link rel="canonical" href="https://linkmalloc.com{{ page.url }}" />
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ include.keywords }}">
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ image_url }}" />
<meta property="og:image:secure_url" content="{{ image_url_secure }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:image:alt" content="{{ description }}" />
<meta property="og:url" content="https://linkmalloc.com{{ page.url }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="fb:app_id" content="{{ site.fb_app_id }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:creator" content="@{{ site.twitter_username }}" />

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.linkmalloc.com",
      "name": "Link Malloc, Inc.",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+63-966-771-6500",
        "contactType": "Customer service"
      }
    }
</script>