<script>
		if('serviceWorker' in navigator && 'PushManager' in window){
			window.addEventListener('load', ()=>{
				navigator.serviceWorker.register('/sw.js')
					.then(swReg =>{
						const swRegistration = swReg;
					})
					.catch(e =>{
						console.log('could not reg service worker', e);
					});
			});
		}

		function initializeUI() {
			// Set the initial subscription value
			swRegistration.pushManager.getSubscription()
			.then(function(subscription) {
				isSubscribed = !(subscription === null);

				if (isSubscribed) {
				console.log('User IS subscribed.');
				} else {
				console.log('User is NOT subscribed.');
				}

				updateBtn();
			});
		}
	</script>